﻿
/***
style
***/
.text-sm {
    font-size: 11px;
}
.text-label {
    font-size: 11px;
}

.color-yellow {
    color: #fe9900 !important;
}
.modal-account-thumb {
    max-width: 100%;
    height: auto;
}
.app-grid .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.app-grid .col-1, .app-grid .col-2, .app-grid .col-3, .app-grid .col-4, .app-grid .col-5, .app-grid .col-6, .app-grid .col-7, .app-grid .col-8, .app-grid .col-9, .app-grid .col-10, .app-grid .col-11, .app-grid .col-12, .app-grid .col,
.app-grid .col-auto, .app-grid .col-sm-1, .app-grid .col-sm-2, .app-grid .col-sm-3, .app-grid .col-sm-4, .app-grid .col-sm-5, .app-grid .col-sm-6, .app-grid .col-sm-7, .app-grid .col-sm-8, .app-grid .col-sm-9, .app-grid .col-sm-10, .app-grid .col-sm-11, .app-grid .col-sm-12, .app-grid .col-sm,
.app-grid .col-sm-auto, .app-grid .col-md-1, .app-grid .col-md-2, .app-grid .col-md-3, .app-grid .col-md-4, .app-grid .col-md-5, .app-grid .col-md-6, .app-grid .col-md-7, .app-grid .col-md-8, .app-grid .col-md-9, .app-grid .col-md-10, .app-grid .col-md-11, .app-grid .col-md-12, .app-grid .col-md,
.app-grid .col-md-auto, .app-grid .col-lg-1, .app-grid .col-lg-2, .app-grid .col-lg-3, .app-grid .col-lg-4, .app-grid .col-lg-5, .app-grid .col-lg-6, .app-grid .col-lg-7, .app-grid .col-lg-8, .app-grid .col-lg-9, .app-grid .col-lg-10, .app-grid .col-lg-11, .app-grid .col-lg-12, .app-grid .col-lg,
.app-grid .col-lg-auto, .app-grid .col-xl-1, .app-grid .col-xl-2, .app-grid .col-xl-3, .app-grid .col-xl-4, .app-grid .col-xl-5, .app-grid .col-xl-6, .app-grid .col-xl-7, .app-grid .col-xl-8, .app-grid .col-xl-9, .app-grid .col-xl-10, .app-grid .col-xl-11, .app-grid .col-xl-12, .app-grid .col-xl,
.app-grid .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 1200px) {
    .app-grid .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .app-grid .col-1, .app-grid .col-2, .app-grid .col-3, .app-grid .col-4, .app-grid .col-5, .app-grid .col-6, .app-grid .col-7, .app-grid .col-8, .app-grid .col-9, .app-grid .col-10, .app-grid .col-11, .app-grid .col-12, .app-grid .col,
    .app-grid .col-auto, .app-grid .col-sm-1, .app-grid .col-sm-2, .app-grid .col-sm-3, .app-grid .col-sm-4, .app-grid .col-sm-5, .app-grid .col-sm-6, .app-grid .col-sm-7, .app-grid .col-sm-8, .app-grid .col-sm-9, .app-grid .col-sm-10, .app-grid .col-sm-11, .app-grid .col-sm-12, .app-grid .col-sm,
    .app-grid .col-sm-auto, .app-grid .col-md-1, .app-grid .col-md-2, .app-grid .col-md-3, .app-grid .col-md-4, .app-grid .col-md-5, .app-grid .col-md-6, .app-grid .col-md-7, .app-grid .col-md-8, .app-grid .col-md-9, .app-grid .col-md-10, .app-grid .col-md-11, .app-grid .col-md-12, .app-grid .col-md,
    .app-grid .col-md-auto, .app-grid .col-lg-1, .app-grid .col-lg-2, .app-grid .col-lg-3, .app-grid .col-lg-4, .app-grid .col-lg-5, .app-grid .col-lg-6, .app-grid .col-lg-7, .app-grid .col-lg-8, .app-grid .col-lg-9, .app-grid .col-lg-10, .app-grid .col-lg-11, .app-grid .col-lg-12, .app-grid .col-lg,
    .app-grid .col-lg-auto, .app-grid .col-xl-1, .app-grid .col-xl-2, .app-grid .col-xl-3, .app-grid .col-xl-4, .app-grid .col-xl-5, .app-grid .col-xl-6, .app-grid .col-xl-7, .app-grid .col-xl-8, .app-grid .col-xl-9, .app-grid .col-xl-10, .app-grid .col-xl-11, .app-grid .col-xl-12, .app-grid .col-xl,
    .app-grid .col-xl-auto {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 992px) {
    .app-grid .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .app-grid .col-1, .app-grid .col-2, .app-grid .col-3, .app-grid .col-4, .app-grid .col-5, .app-grid .col-6, .app-grid .col-7, .app-grid .col-8, .app-grid .col-9, .app-grid .col-10, .app-grid .col-11, .app-grid .col-12, .app-grid .col,
    .app-grid .col-auto, .app-grid .col-sm-1, .app-grid .col-sm-2, .app-grid .col-sm-3, .app-grid .col-sm-4, .app-grid .col-sm-5, .app-grid .col-sm-6, .app-grid .col-sm-7, .app-grid .col-sm-8, .app-grid .col-sm-9, .app-grid .col-sm-10, .app-grid .col-sm-11, .app-grid .col-sm-12, .app-grid .col-sm,
    .app-grid .col-sm-auto, .app-grid .col-md-1, .app-grid .col-md-2, .app-grid .col-md-3, .app-grid .col-md-4, .app-grid .col-md-5, .app-grid .col-md-6, .app-grid .col-md-7, .app-grid .col-md-8, .app-grid .col-md-9, .app-grid .col-md-10, .app-grid .col-md-11, .app-grid .col-md-12, .app-grid .col-md,
    .app-grid .col-md-auto, .app-grid .col-lg-1, .app-grid .col-lg-2, .app-grid .col-lg-3, .app-grid .col-lg-4, .app-grid .col-lg-5, .app-grid .col-lg-6, .app-grid .col-lg-7, .app-grid .col-lg-8, .app-grid .col-lg-9, .app-grid .col-lg-10, .app-grid .col-lg-11, .app-grid .col-lg-12, .app-grid .col-lg,
    .app-grid .col-lg-auto, .app-grid .col-xl-1, .app-grid .col-xl-2, .app-grid .col-xl-3, .app-grid .col-xl-4, .app-grid .col-xl-5, .app-grid .col-xl-6, .app-grid .col-xl-7, .app-grid .col-xl-8, .app-grid .col-xl-9, .app-grid .col-xl-10, .app-grid .col-xl-11, .app-grid .col-xl-12, .app-grid .col-xl,
    .app-grid .col-xl-auto {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 768px) {
    .app-grid .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .app-grid .col-1, .app-grid .col-2, .app-grid .col-3, .app-grid .col-4, .app-grid .col-5, .app-grid .col-6, .app-grid .col-7, .app-grid .col-8, .app-grid .col-9, .app-grid .col-10, .app-grid .col-11, .app-grid .col-12, .app-grid .col,
    .app-grid .col-auto, .app-grid .col-sm-1, .app-grid .col-sm-2, .app-grid .col-sm-3, .app-grid .col-sm-4, .app-grid .col-sm-5, .app-grid .col-sm-6, .app-grid .col-sm-7, .app-grid .col-sm-8, .app-grid .col-sm-9, .app-grid .col-sm-10, .app-grid .col-sm-11, .app-grid .col-sm-12, .app-grid .col-sm,
    .app-grid .col-sm-auto, .app-grid .col-md-1, .app-grid .col-md-2, .app-grid .col-md-3, .app-grid .col-md-4, .app-grid .col-md-5, .app-grid .col-md-6, .app-grid .col-md-7, .app-grid .col-md-8, .app-grid .col-md-9, .app-grid .col-md-10, .app-grid .col-md-11, .app-grid .col-md-12, .app-grid .col-md,
    .app-grid .col-md-auto, .app-grid .col-lg-1, .app-grid .col-lg-2, .app-grid .col-lg-3, .app-grid .col-lg-4, .app-grid .col-lg-5, .app-grid .col-lg-6, .app-grid .col-lg-7, .app-grid .col-lg-8, .app-grid .col-lg-9, .app-grid .col-lg-10, .app-grid .col-lg-11, .app-grid .col-lg-12, .app-grid .col-lg,
    .app-grid .col-lg-auto, .app-grid .col-xl-1, .app-grid .col-xl-2, .app-grid .col-xl-3, .app-grid .col-xl-4, .app-grid .col-xl-5, .app-grid .col-xl-6, .app-grid .col-xl-7, .app-grid .col-xl-8, .app-grid .col-xl-9, .app-grid .col-xl-10, .app-grid .col-xl-11, .app-grid .col-xl-12, .app-grid .col-xl,
    .app-grid .col-xl-auto {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 576px) {
    .app-grid .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .app-grid .col-1, .app-grid .col-2, .app-grid .col-3, .app-grid .col-4, .app-grid .col-5, .app-grid .col-6, .app-grid .col-7, .app-grid .col-8, .app-grid .col-9, .app-grid .col-10, .app-grid .col-11, .app-grid .col-12, .app-grid .col,
    .app-grid .col-auto, .app-grid .col-sm-1, .app-grid .col-sm-2, .app-grid .col-sm-3, .app-grid .col-sm-4, .app-grid .col-sm-5, .app-grid .col-sm-6, .app-grid .col-sm-7, .app-grid .col-sm-8, .app-grid .col-sm-9, .app-grid .col-sm-10, .app-grid .col-sm-11, .app-grid .col-sm-12, .app-grid .col-sm,
    .app-grid .col-sm-auto, .app-grid .col-md-1, .app-grid .col-md-2, .app-grid .col-md-3, .app-grid .col-md-4, .app-grid .col-md-5, .app-grid .col-md-6, .app-grid .col-md-7, .app-grid .col-md-8, .app-grid .col-md-9, .app-grid .col-md-10, .app-grid .col-md-11, .app-grid .col-md-12, .app-grid .col-md,
    .app-grid .col-md-auto, .app-grid .col-lg-1, .app-grid .col-lg-2, .app-grid .col-lg-3, .app-grid .col-lg-4, .app-grid .col-lg-5, .app-grid .col-lg-6, .app-grid .col-lg-7, .app-grid .col-lg-8, .app-grid .col-lg-9, .app-grid .col-lg-10, .app-grid .col-lg-11, .app-grid .col-lg-12, .app-grid .col-lg,
    .app-grid .col-lg-auto, .app-grid .col-xl-1, .app-grid .col-xl-2, .app-grid .col-xl-3, .app-grid .col-xl-4, .app-grid .col-xl-5, .app-grid .col-xl-6, .app-grid .col-xl-7, .app-grid .col-xl-8, .app-grid .col-xl-9, .app-grid .col-xl-10, .app-grid .col-xl-11, .app-grid .col-xl-12, .app-grid .col-xl,
    .app-grid .col-xl-auto {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}
/***
Default table
***/
.app-table td {
}
.app-box {
    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    border-radius: 2px;
}
.app-table-pagination{
    text-align: right;
}
.small-thumb{
    max-height: 100px;
    max-width: 100px;
}
.appWrapper-Header-wrapper{
    z-index: 3 !important;
}

/*new modal*/
.new-modal{

}
    .new-modal.modal .close-modal{
        top: 5px;
        right: 5px;
        width: 20px;
        height: 20px;
    }
    @media (min-width: 992px) {
        .new-modal.modal-lg {
        max-width: 800px !important;
    }
    @media (min-width: 768px){
        .new-modal.modal-sm {
            width: 300px;
        }
    }
    

}
.blocker{
    z-index: 4;
}
/* char flot */
.chart-tooltip {
    clear: both;
    z-index: 100000;
    background-color: #736e6e !important;
    padding: 5px !important;
    color: #fff;
    font-size: 11px;
    border-radius: 3px;
}
    .chart-tooltip .label {
        clear: both;
        display: block;
        margin-bottom: 2px;
    }

    .chart-tooltip .highlight {
        text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
        font-weight: 600;
    }
/* widget css*/
.widget-panel {
    border-radius: 3px;
}

    .widget-panel a {
        padding: 8px;
        color: #fff;
    }

    .widget-panel .widget-num {
        font-size: 22px;
    }

    .widget-panel .widget-icon {
        float: right;
    }

.widget-text {
    font-weight: 400;
    /* text-shadow: #333333 1px 1px 0px, #9c9c9c 2px 2px 0px; */
}

.widget-num {
    text-shadow: #333333 1px 1px 0px, #9c9c9c 2px 2px 0px;
}

.widget-bg-blue {
    background-color: #578ebe !important;
}

.widget-bg-red {
    background-color: #e35b5a !important;
}

.widget-bg-green {
    background-color: #44b6ae !important;
}

.widget-bg-purple {
    background-color: #8775a7 !important;
}
/* chart foot */
.chart-foot {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 15px 0;
}
    .chart-foot > *{
        margin-left: 10px;
    }
    .chart-filter-btn {
        min-width: 70px;
    }
/* acc option */
.acc-option-toggle {
    position: relative;
}

.acc-option-wrapper {
    position: absolute;
    right: 0;
    top: 100%;
    width: 333px;
    background: #fff;
    padding: 10px 0;
    border: 1px solid rgba(0,0,0,0.15);
    webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border-top: none;
    border-radius: 5px;
    line-height: initial;
    display: none;
}

    .acc-option-wrapper .bottom-seperator {
        border-bottom: 1.5px solid rgba(0,0,0,0.1);
    }

    .acc-option-wrapper .acc-option-item {
        padding: 0 10px;
    }

        .acc-option-wrapper .acc-option-item .acc-info {
            display: flex;
            flex-direction: row;
        }

            .acc-option-wrapper .acc-option-item .acc-info .acc-thumbnail {
                flex-shrink: 0;
            }

                .acc-option-wrapper .acc-option-item .acc-info .acc-thumbnail .acc-image {
                    display: inline-block;
                    border-radius: 50%;
                    border: .25px solid #ffba00;
                    overflow: hidden;
                }

                    .acc-option-wrapper .acc-option-item .acc-info .acc-thumbnail .acc-image img {
                        width: 65px;
                        height: 65px;
                    }

            .acc-option-wrapper .acc-option-item .acc-info .acc-detail {
                flex-shrink: 1;
                flex-grow: 1;
                padding-left: 10px;
                line-height: initial;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

                .acc-option-wrapper .acc-option-item .acc-info .acc-detail .acc-title-panel {
                    font-size: 17px;
                    font-weight: 600;
                }

                    .acc-option-wrapper .acc-option-item .acc-info .acc-detail .acc-title-panel a {
                        font-size: 12px;
                    }

        .acc-option-wrapper .acc-option-item .acc-link-item {
            display: block;
            padding: 10px 0;
        }

        .acc-option-wrapper .acc-option-item.active {
            background: #fbecd0;
        }

        .acc-option-wrapper .acc-option-item.acc-option:hover {
            background: #fff6e5;
        }

            .acc-option-wrapper .acc-option-item.acc-option:hover .acc-link-item {
                font-weight: 600;
            }

.acc-color {
    color: #ff9600;
}

.acc-link-hover:hover {
    color: #2a6496
}

.acc-option-wrapper .acc-option-item .text-badge {
    float: right;
}

/* account filter card */
.account-filter-card {
    padding: 10px;
    background: rgba(24, 113, 247, 0.08);
    box-shadow: 0 2px 8px rgba(0, 0,0, 0.01);
    border: 1px solid rgba(0,0,0,0.15);
}

/* custom */
.row.justify-content-center{
    justify-content: center;
}
/* filter bar */
.filter-bar{
    
}
.filter-bar-pagination{
    
}
.filter-bar-pagination .pagination{
    margin: 0px 0 !important;
}
.filter-bar-buttons{
    
}
.filter-bar-pagination .app-table-pagination{
    
}
.filter-row{
    display: none;
}
/* custom button search */
.btnsearch {
    margin-left: -59px;
    margin-top: 3px;
}
/* remove index pagination */
.app-table-pagination .pagination > .active > a,
.app-table-pagination .pagination > .active > a:focus,
.app-table-pagination .pagination > .active > a:hover,
.app-table-pagination .pagination > .active > span,
.app-table-pagination .pagination > .active > span:focus,
.app-table-pagination .pagination > .active > span:hover {
    z-index: inherit;
}

/* custom rate amount */
.layer-wartermark{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2;
    display: none;
}
/* slide detail post */
.slide-detail {
    position: absolute;
    display: block;
    top: 8px;
    right: 0px;
    width: auto;
}

    .slide-detail > p {
        line-height: 20px;
        margin-bottom: 0px;
        font-size: 18px;
        text-align: right;
        background: rgba(255, 255, 255, 0.7);
        width: auto;
        display: inline-block;
        padding: 3px 10px;
        margin-right: 8px;
    }
/* modal post info */
.modal-post-info .thumbnail {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.modal-post-info .thumbnail-wrap{
    max-width: 400px;
    margin: auto;
}

@media (min-width:576px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width:768px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width:992px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width:1200px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width:576px) {
    .container {
        width: 540px;
        max-width: 100%;
    }
}

@media (min-width:768px) {
    .container {
        width: 768px;
        max-width: 100%;
    }
}

@media (min-width:992px) {
    .container {
        width: 940px;
        max-width: 100%;
    }
}

@media (min-width:1200px) {
    .container {
        width: 941px;
        max-width: 100%;
    }
}