﻿ .wrap-service-pack {
            position: relative;
            width: 100%;
        }

       

        .wrap-service-pack .list-item-pack {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin: 0 -5px;
        }
       
         @media (min-width: 576px){
            .wrap-service-pack .list-item-pack .item-pack {
                padding: 0 7px 6px;
                margin-bottom: 25px;
                border-radius: 0;
            }

       }
           .wrap-service-pack .list-item-pack>* {
            width: calc(50% - 10px);
            margin: 5px;
        }
        @media (min-width: 991px) {
            .wrap-service-pack .list-item-pack {
                margin: 0 -10px;
            }
             
        }
            @media (min-width: 576px) {
                .wrap-service-pack .list-item-pack {
                    margin: 0 -10px;
                }

               .wrap-service-pack .list-item-pack>* {
                        width: calc(25% - 10px);
                        margin: 5px;
                    }
            }
        .wrap-service-pack .list-item-pack .item-pack {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 0;
            margin-bottom: 20px;
            background: #FFFFFF;
            border: 1px solid #CCE2DF;
            border-radius: 5px;
        }

        @media (min-width: 375px){
            .wrap-service-pack .list-item-pack .item-pack {
                margin-bottom: 25px;
            }
           
        }
          
        .wrap-service-pack .list-item-pack .item-pack_top {
        position: relative;
        padding: 15px 0 16px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: #092353;
       }

        .wrap-service-pack .list-item-pack .item-pack_top .btn-tooltip {
        position: absolute;
        z-index: 2;
        display: block;
        left: 0;
        bottom: 5px;
        right: 0;
        width: 12px;
        height: 12px;
        margin: auto;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        background: var(--primary-4);
        color: #0296E5;
        border-radius: 50%;
        background-image: url(data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9' cy='9' r='8.5' fill='white' stroke='%230296E5'/%3e%3cpath d='M8.49902 11.4375L8 6.35156V4H10.0781V6.35156L9.58594 11.4375H8.49902ZM8.08203 14.0215V12.1006H10.0029V14.0215H8.08203Z' fill='%230296E5'/%3e%3c/svg%3e);
        background-repeat: no-repeat;
        background-size: 100%;
        outline: none;
        cursor: defaul;
    }
        .wrap-service-pack .list-item-pack .item-pack.item-pack-silver .item-pack_body {
            background: #F0F7FE;
        }

        @media (min-width: 375px) {
            .wrap-service-pack .list-item-pack .item-pack_body {
                font-size: 13px;
            }
        }
        .wrap-service-pack .list-item-pack .item-pack_body {
            -webkit-box-flex: 1;
            -webkit-flex: auto;
            -ms-flex: auto;
            flex: auto;
            position: relative;
            padding: 24px 5px 35px;
            font-size: 12px;
            line-height: 1.3;
            color: #757575;
            background: #F2F5F8;
            border-radius: 0 0 5px 5px;
            text-align: center;
        }
        .wrap-service-pack .list-item-pack .item-pack_body p {
            margin-bottom: 6px;
        }
        .wrap-service-pack .list-item-pack .item-pack.item-pack-silver .item-pack_bottom {
            background: #F0F7FE;
        }
        .wrap-service-pack .list-item-pack .item-pack_bottom {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -10px;
            margin: 0 auto 0;
            text-align: center;
            background: none !important;
        }

        .wrap-service-pack .list-item-pack .item-pack_bottom a {
            background: #40A691;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
        }
        @media (min-width: 375px) {
            .wrap-service-pack .list-item-pack .item-pack {
                margin-bottom: 25px;
            }
        }
        .wrap-service-pack .list-item-pack .item-pack {
    position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 0;
            margin-bottom: 20px;
            background: #FFFFFF;
            border: 1px solid #CCE2DF;
            border-radius: 5px;
        }

        .wrap-service-pack .list-item-pack .item-pack.item-pack-gold .item-pack_body {
            background: #FEEFEF;
        }
        .wrap-service-pack .list-item-pack .item-pack.item-pack-vip .item-pack_body {
            background: #FFF7D2;
        }



        @media (max-width: 768px) {
             .kt-widget__bottom {
                padding-top: 1rem;
            }
             .flaticon-piggy-bank:before{content:"\f10c"}
                 .kt-widget__bottom .kt-widget__item {
                    padding: 1rem 1rem 0 0;
                }
                 .kt-widget__bottom .kt-widget__item .kt-widget__icon i {
    font-size: 2.5rem;
}
        }
         .kt-widget__bottom {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;
            border-top: 1px solid #ebedf2;
            margin-top: 2rem;
        }
         .kt-widget__bottom .kt-widget__item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            padding: 3rem 1.5em 0px;
        }

         @media (min-width: 991px) {
             .kt-widget__bottom .kt-widget__item{
                  padding: 3rem 7em 0px;
             }
         }

         .kt-widget__bottom .kt-widget__item .kt-widget__icon i {
        font-size: 2.7rem;
        color: #adb1c7;
        font-weight: 400;
        }
        .flaticon-piggy-bank:before {
       content: "\f10c";
        }
        .text-success {
    color: #0abb87!important;
        }
      .kt-widget__bottom .kt-widget__item .kt-widget__details .kt-widget__value {
            display: block;
            color: #464457;
            font-weight: 600;
         /*//   font-size: 1.2rem;*/
           font-family: 'Aria',sans-serif;
        }
     .kt-widget__bottom .kt-widget__item .kt-widget__details .kt-widget__title {
        display: block;
        color: #a7abc3;
        font-weight: 600;
      /*//  font-size: .95rem;*/
        font-family: 'Aria',sans-serif;