﻿/* start of modal choose post package */

/* .modal-choose-post-package {
  width: 936px;
  max-width: 100%;
} */

.modal-choose-post-package .title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}

.modal-choose-post-package .submit-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modal-choose-post-package .text-success {
    font-style: italic;
}
/* end of modal choose post pack\\\age */
