﻿.modal-add-balance {
    width: 936px;
    max-width: 100%;
}

.modal-add-balance .title{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

.modal-add-balance .panel {
    width: 254px;
    border: 1px solid #e1e1e1;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.modal-add-balance .panel:hover {
    border-color: #40A691;
}

.modal-add-balance .panel.active {
    border-color: #40A691;
    border-width: 2px;
}

.modal-add-balance .panel.active::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #40A691;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.modal-add-balance .panel .content {
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
}

.modal-add-balance .package-name {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
}

.modal-add-balance .info-bg {
    background: #F0F7FE;
}

.modal-add-balance .danger-bg {
    background: #FEEFEF;
}

.modal-add-balance .warning-bg {
    background: #FFF7D2;
}

.modal-add-balance .learn-more {
    font-style: italic;
    margin: 8px 0;
}

.modal-add-balance .heading {
    font-size: 18px;
    font-weight: 600;
    color: #ec3222;
    margin-bottom: 16px;
}

.modal-add-balance .separator {
    display: block;
    height: 1px;
    width: 50%;
    background:  #e1e1e1;
    margin: 16px 0;
}

.modal-add-balance .methods {
    padding: 16px;
    background: #F2F5F8;
}

.modal-add-balance .method {
    font-weight: 400;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.modal-add-balance .method input {
    margin-right: 8px;
}

.modal-add-balance .detail {
    display: none;
    text-align: center;
}

.modal-add-balance .detail.active {
    display: block;
}

.modal-add-balance .detail-title {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    padding-bottom: 16px;
}

.modal-add-balance .detail-title::after {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    position: absolute;
}

.modal-add-balance .transfer-detail .bank {
    margin-top: 12px;
    text-align: left;
}

.modal-add-balance .detail-content{
    text-align: left;
}
.modal-add-balance .price-final {
    color: #ec3222;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 16px;
}