﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageNew.master" AutoEventWireup="true" CodeFile="MoTaChinhFooter.aspx.cs" Inherits="MoTaChinhFooter" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">

        #ContentPlaceHolder1_ShowNoiDung
        {
            padding:5% 3% 1% 3%;
        }

        @media only screen and (max-width: 767px) 
        {
          #ContentPlaceHolder1_ShowNoiDung
            {
                padding:20% 3% 1% 3%;
            }
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
   
       
            <div class="container" runat="server" id="ShowNoiDung" >
      
            </div>
      
</asp:Content>

