﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="ThueAnToan.aspx.cs" Inherits="ThueAnToan"  EnableEventValidation="false" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <section class="feature container">
      <div class="row">
         <!--Top Jobs-->
         <div class="col-md-9 col-sm-12">
            <div class="top-job">
               <div class="panel jobs-board-listing with-mc no-padding no-border">
                  <div class="panel-content" id="tabChoThue" style="padding:10px" runat="server">
                     <%-- <div class="job-list scrollbar m-t-lg">
                        <h1 style="text-align:center">HƯỚNG DẪN CHO THUÊ AN TOÀN</h1>
                        <div>Không giống như mua bán, thuê và cho thuê tính rủi ro cao hơn nhiều nên đòi hỏi người thuê và cho thuê phải thật cẩn thận trước khi giao dịch. Chúng ta cần tuân thủ các nguyên tắc cơ bản để việc cho thuê tránh những rủi ro không đáng mắc phải.</div>
                        <div style="font-weight: bold;padding-top: 10px;font-size: 18px;padding-bottom: 5px;">+ Đối với người cho thuê:</div>
                          <p>- Nên soạn hợp đồng với các điều khoản thật rõ ràng</p>
                          <p>- Cần giữ bản chính hoặc bản sao các giầy tờ tùy thân</p>
                          <p>- Lưu giữ lại hình ảnh vật cho thuê lúc bàn giao</p>
                        <div style="font-weight: bold;padding-top: 10px;font-size: 18px;padding-bottom: 5px;">+ Đối với người thuê:</div>
                          <p>- Nên chọn những nơi uy tín có địa chỉ kinh doanh rõ ràng</p>
                          <p>- Kiểm tra kỹ vật thuê, đảm bảo phải thuê được đồ chất lượng</p>
                          <p>- Nên làm hợp đồng rõ ràng trước khi thuê</p>
                          <div style="padding-top: 10px;padding-bottom: 5px; font-weight:bold">Chúc bạn tham gia giao dịch thuê và cho thuê thành công tốt đẹp!</div>
                      </div>--%>
                  </div>
                   
               </div>
            </div>
         </div>
      </div>
   </section>
</asp:Content>

