﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="TinTuc.aspx.cs" Inherits="TinTuc" EnableEventValidation="false" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <section class="feature container">
      <div class="row">
         <!--Top Jobs-->
         <div class="col-md-9 col-sm-12">
            <div class="top-job">
               <div class="panel jobs-board-listing with-mc no-padding no-border">
                  <div class="panel-content" id="tabChoThue">
                     <div class="job-list scrollbar m-t-lg">
                        <div class="panel-content" id="tabChoThue">
                     <div class="job-list scrollbar m-t-lg">
                        <div id="dvLinkTitle" runat="server" class="linktitle"><%--<a href="/">Trang chủ</a> > <a href="#">Cho thuê</a> > <a href="#">Thuê bất động sản</a> > Thuê nhà nguyên căn--%></div>
                        <div id="dvTitle" runat="server" class="title"><%--Thuê nhà nguyên căn--%></div>
                         <div id="dvTinDang" runat="server">
                          </div>
                     </div>
                  </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</asp:Content>
