﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TransactionError.aspx.cs" Inherits="TransactionError" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>Transaction Error</div>
    </form>
</body>
</html>
