﻿.page-referrals-list .list-group-item {
    border-left: none;
    border-right: none;
}
.page-referrals-list .list-group-item.bg-success {
    background-color: #dff0d8 !important;
}
.page-referrals-list .list-group-item.bg-warning {
    background-color: #fcf8e3 !important;
}
.page-referrals-list .list-group-item.bg-success {
    background-color: #dff0d8 !important;
}

    .page-referrals-list .list-group-item.bg-warning {
        background-color: #fcf8e3 !important;
    }
    .page-referrals-list .list-group-item.bg-primary {
        background-color: #337ab7 !important;
    }
.page-referrals-list .list-group-item .page-item-attribute {
    float: right;
}