@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nrnm0p');
  src:  url('fonts/icomoon.eot?nrnm0p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nrnm0p') format('truetype'),
    url('fonts/icomoon.woff?nrnm0p') format('woff'),
    url('fonts/icomoon.svg?nrnm0p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zalo:before {
  content: "\e900";
}
