﻿table.dataTable thead th, table.dataTable thead td {
    padding-left: 0;
    padding-right: 0;
}

.app-table-wrap {
    overflow-x: auto;
}

table#postTable .datacol-post-code {
    min-width: 120px;
}

table#postTable .datacol-post-title {
    min-width: 200px;
}

table#postTable .datacol-referral-commission {
    min-width: 130px;
}

table#postTable .datacol-share {
    min-width: 130px;
}
table#postTable .datacol-shares {
    min-width: 100px;
	text-align: center;
}
table#postTable .datacol-sharess {
    min-width: 150px;
}
table#postTable .datacol-share > * {
    margin-right: 10px;
    margin-bottom: 10px;
}

table#postTable .datacol-post-price {
    min-width: 130px;
}

table#postTable .datacol-post-created-at {
    min-width: 130px;
}

table#postTable .datacol-referral-rate {
    min-width: 140px;
}

table#postTable .datacol-referral-amount {
    min-width: 140px;
}