﻿table.dataTable thead th, table.dataTable thead td{
    padding-left: 0;
    padding-right: 0;
}

table#referralTable .datacol-post-code {
    min-width: 120px;
}
table#referralTable .datacol-post-title {
    min-width: 200px;
}
table#referralTable .datacol-referral-commission {
    min-width: 130px;
}
table#referralTable .datacol-referral-rate {
    min-width: 130px;
}
table#referralTable .datacol-referral-amount {
    min-width: 140px;
}
table#referralTable .datacol-referral-status {
    min-width: 100px;
}
table#referralTable .datacol-referral-approved {
    min-width: 130px;
}
table#referralTable  .datacol-share {
    min-width: 132px;
}
table#referralTable  .datacol-sharess {
    min-width: 100px;
}
table#referralTable  .datacol-share > * {
    margin-right: 10px;
    margin-bottom: 10px;
}
.app-table-wrap{
    overflow-x: auto;
}