
.fa-camera:before {
    content: "\f030";
}

.avtUser > .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:768px) {
    .avtUser > .form-group > .imgUserEdit {
        height: 190px;
        width: 100%;
    }
}
@media (min-width:992px) {
    .avtUser > .form-group > .btnShowFileUpLoad1 {
        right: 120px;
    }
}


@media (max-width:425px) {
    .avtUser > .form-group > .imgUserEdit {
        height: 150px;
        width: 100%;
    }

    .avtUser > .form-group > .btnShowFileUpLoad {
        right: 100px;
    }

    .avtUser > .form-group > .btnShowFileUpLoad1 {
        right: 60px;
    }
}

@media (max-width:414px) {
   .avtUser > .form-group > .imgUserEdit {
        /*height: 175px;*/
        width: 100%;
        /*new*/
    }
    .avtUser > .form-group > .btnShowFileUpLoad {
          right: 13px;
    }
    .avtUser > .form-group > .btnShowFileUpLoad1 {
          right: 70px;
    }
}

@media (max-width:375px) {
    .avtUser > .form-group > .btnShowFileUpLoad {
        right: 10px;
    }

    .avtUser > .form-group > .btnShowFileUpLoad1 {
        right: 50px;
    }

    .avtUser > .form-group > .imgUserEdit {
        height: 130px;
        width: 100%;
    }
}

@media (max-width:320px) {
    .avtUser > .form-group > .imgUserEdit {
        height: 110px;
        width: 100%;
    }
}

.btnShowFileUpLoad {
    border: 2px solid;
    width: max-content;
    padding: 8px 13px;
    border-radius: 29px;
    font-size: 21px;
    position: absolute;
    bottom: 0;
    right: 13px;
    background-color: white;
    cursor: pointer;
}

.btnShowFileUpLoad1 {
    border: 2px solid;
    width: max-content;
    padding: 8px 13px;
    border-radius: 29px;
    font-size: 21px;
    position: absolute;
    bottom: 0;
    right: 13px;
    background-color: white;
    cursor: pointer;
}

.imgUserEdit {
    width: 100%;
    height: 165px;
    object-fit: cover;
    border-radius: 50%;
    border: .25px solid;
}

img {
    border: 0;
}

input {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

input {
    line-height: normal;
}

    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: 0 0 !important;
        box-shadow: none !important;
    }

    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }
}

input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

img {
    vertical-align: middle;
}

.form-group {
    margin-bottom: 5px;
    height: auto;
    overflow: hidden;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
