﻿
@media screen, projection{
img{border:0;}
button,input{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
input{line-height:normal;}
input[type=checkbox]{box-sizing:border-box;padding:0;}
*,:after,:before{box-sizing:border-box;}
button,input{font-family:inherit;font-size:inherit;line-height:inherit;}
img{vertical-align:middle;}
.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
.container:after,.container:before{content:" ";display:table;}
.container:after{clear:both;}
@media (min-width:768px){
.container{width:750px;}
}
@media (min-width:992px){
.container{width:970px;}
}
@media (min-width:1200px){
.container{width:970px;}
}
label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:700;}
input[type=checkbox]{margin:4px 0 0;margin-top:1px\9;line-height:normal;}
input[type=checkbox]:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.form-control{display:block;font-size:14px;line-height:1.42857;color:#555;}
.form-control{width:100%;height:34px;padding:6px 12px;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.form-control:focus{border-color:#66afe9;outline:0;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}
.form-control::-moz-placeholder{color:#999;opacity:1;}
.form-control:-ms-input-placeholder{color:#999;}
.form-control::-webkit-input-placeholder{color:#999;}
.form-control::-ms-expand{border:0;background-color:transparent;}
.form-group{margin-bottom:15px;}
.btn{display:inline-block;margin-bottom:0;font-weight:400;text-align:center;vertical-align:middle;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.btn:active:focus,.btn:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:focus,.btn:hover{color:#333;text-decoration:none;}
.btn:active{outline:0;background-image:none;box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
.btn-success{color:#fff;background-color:#33a837;border-color:#2d9431;}
.btn-success:focus{color:#fff;background-color:#27812a;border-color:#0f3311;}
.btn-success:active,.btn-success:hover{color:#fff;background-color:#27812a;border-color:#1f6521;}
.btn-success:active:focus,.btn-success:active:hover{color:#fff;background-color:#1f6521;border-color:#0f3311;}
.btn-success:active{background-image:none;}
::placeholder{font-style:italic;}
button{cursor:pointer;}
@media screen and (max-width:450px){
input[type=password],input[type=tel]{font-size:16px!important;}
}
.container{min-width:320px;}
.universal-content{min-height:100vh;}
.universal-content{min-height:350px;position:relative;}
.universal-content .container{padding:0;}
.form-container{border:1px solid #efefef;border-radius:3px;background:#fff;width:450px;margin:10px auto 0;display:-webkit-box;display:flex;display:-ms-flexbox;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.form-container .form-title{border-top-left-radius:2px;border-top-right-radius:2px;background:#fff;border-bottom:1px solid #efefef;text-align:center;font-size:16px;padding:8px 15px;font-weight:700;}
.form-container>form{font-size:12px;padding:15px;width:450px;box-sizing:border-box;}
.form-container>form .btn{margin-bottom:10px;width:100%;color:#fff;font-size:12px;}
.form-container>form .btn:hover{color:#fff;}
.form-container>form .form-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin:0 0 10px;}
.form-container>form .form-group.group-2>button{width:calc(50% - 5px);}
.form-container>form .form-group:last-child{margin-bottom:0;}
.form-container>form .form-group>button{margin:0 5px;display:block;}
.form-container>form .form-group>button:first-child{margin-left:0;}
.form-container>form .form-group>button:last-child{margin-right:0;}
.form-container>form .form-group>label{padding-left:5px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-weight:400;margin:0;cursor:pointer;}
.form-container>form .form-separator{color:#ccc;margin:15px 0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.form-container>form .form-separator>span{width:30px;margin:0 10px;text-align:center;}
.form-container>form .form-separator:after,.form-container>form .form-separator:before{display:block;content:"";border-top:1px solid #efefef;width:calc(50% - 25px);}
.form-container>form input[type=password],.form-container>form input[type=tel]{padding:5px 15px;border-radius:5px;border:1px solid #efefef;font-size:13px;margin-bottom:10px;}
.form-container>form input[type=checkbox]{border:none;box-shadow:none;margin:0;}
@media screen and (max-width:450px){
.form-container{width:100%;min-width:100%;border-radius:0;}
.form-container form{width:100%;}
.form-container form .form-separator{margin:10px 0;}
.form-container .form-title{width:calc(100% - 2px);}
}
._1OYeUQpc5QDuJVynVgphOp form ._2D4it_zTsY2nlyWHS26Xnj{font-weight:700;background:#fc9827;font-size:14px;}
._1OYeUQpc5QDuJVynVgphOp form ._2D4it_zTsY2nlyWHS26Xnj:hover{background:#ed7f03;}
._1OYeUQpc5QDuJVynVgphOp form ._1mvVFr95ffjqLU5XVVBhi3{background:#ebebeb;margin-bottom:0;color:#000;}
._1OYeUQpc5QDuJVynVgphOp form ._1mvVFr95ffjqLU5XVVBhi3:hover{background:#d2d2d2;color:#000;}
._50dhdN8cZSZ6I0vtbnH0k{background:#385794;color:#fff;}
._50dhdN8cZSZ6I0vtbnH0k:hover{background:#2a416f;}
}