﻿.btn-messenger-lightbox .messenger-icon {
    display: block;
    margin-right: 5px;
    width: 12px;
    flex-shrink: 0;
    margin-top: 2px;
}

.buttonsearch {
    background: #ffba00;
    color: white;
    width: 40px;
    border: none;
    margin-top: 3px;
    margin-left: -43px;
    height: 28px;
    border-radius: 5px;
}

    .buttonsearch:hover {
        background: #ffba00;
        border: none;
    }

.typefooter-1 {
    background-color: #ffba00;
    color: #000;
}

    .typefooter-1 .module .modtitle {
        color: white;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 5px;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 6px;
    }

        .typefooter-1 .module .modtitle:after {
            background-color: #02ee74;
            position: absolute;
            content: "";
            width: 100%;
            height: 0.5px;
            left: 0;
            bottom: 0;
        }

    .typefooter-1 .module .modcontent ul {
        list-style: none;
        padding: 0;
    }

        .typefooter-1 .module .modcontent ul .footer-li {
            font-weight: 200;
            line-height: 17px;
            list-style: none;
        }

        .typefooter-1 .module .modcontent ul li a {
            border: 0 none;
            padding: 0;
            font-weight: 400;
            line-height: 30px;
            position: relative;
            padding-left: 20px;
            display: inline-block;
            color: white;
        }

    .typefooter-1 .box-footer .av ul li a:before {
        font-family: 'FontAwesome';
        content: "\f192";
        font-size: 8px;
        position: absolute;
        top: 0px;
        left: 0;
    }

    .typefooter-1 .footer-email-register {
        margin-top: 10px;
        overflow: hidden;
        position: relative;
    }

        .typefooter-1 .footer-email-register .footer-email-wrap-right {
            float: right;
        }

    .typefooter-1 .footer-form-input-submit {
        margin-left: 15px;
    }

.footer-btn {
    padding: 12px 30px;
    background: #FF9800;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 300;
    outline: 0;
    -webkit-appearance: button;
}

.typefooter-1 .footer-email-register .footer-email-wrap-left {
    width: auto;
    overflow: hidden;
}

.typefooter-1 .input-email {
    width: 100%;
    padding: 12px 0;
    background: #102632;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 300;
    text-indent: 12px;
    color: #fff;
}

.typefooter-2 .footer-b {
    /*border-top: 1px solid #ddd;*/
    text-align: center;
    margin: 0;
}

.typefooter-2 .bottom-cont {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 12px;
}

.typefooter-2 .footer-links {
    float: left;
    margin-left: -18px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

    .typefooter-2 .footer-links li {
        display: inline-block;
        margin-bottom: 10px;
        padding: 0 10px;
        border-left: 1px solid #c3bcbc;
        line-height: 100%;
    }

        .typefooter-2 .footer-links li a {
            color: #757272;
            padding-right: 0;
        }

.btnsearch {
    margin-left: -49px;
    height: 29px;
    margin-top: 2px;
    color: #ffba00;
}
