﻿/* back to top */
@media (min-width: 1441px) {
    .backtop {
        right: 15px;
        bottom: 80px;
    }
}
.backtop {
    top: 0;
    position: fixed;
    bottom: 80px;
    z-index: 99;
    top: auto;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    background-color: #ffba00;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0 !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    right: 1%;
}
.backtop:hover {
    cursor: pointer;
}
.backtop.show {
    opacity: 1 !important;
    color: white;
}
.show {
    display: block !important;
}
/* */