﻿

#ContentPlaceHolder1_dvQuanLyTinDang nav {
    z-index: 9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

#ContentPlaceHolder1_dvQuanLyTinDang .bg-color {
    background-color: #46a1de;
    transition-duration: .5s;
}

#ContentPlaceHolder1_dvQuanLyTinDang .text-color {
    color: #46a1de;
    transition-duration: .5s;
}

#ContentPlaceHolder1_dvQuanLyTinDang .wrapper {  
    margin: 0 auto;
}

#ContentPlaceHolder1_dvQuanLyTinDang .tabs {
    display: inline-block;
    width: 100%;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    padding-left: 10px;
    margin-bottom: 3px;
}

    #ContentPlaceHolder1_dvQuanLyTinDang .tabs > li {
        transition-duration: .25s;
        display: table-cell;
        list-style: none;
        text-align: center;
        padding: 10px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        color: white;
    }

        #ContentPlaceHolder1_dvQuanLyTinDang .tabs > li:before {
            z-index: -1;
            position: absolute;
            content: "";
            width: 100%;
            height: 120%;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.3);
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            transition-duration: .25s;
            border-radius: 5px 5px 0 0;
        }

        #ContentPlaceHolder1_dvQuanLyTinDang .tabs > li:hover:before {
            -webkit-transform: translateY(70%);
            transform: translateY(70%);
        }

        #ContentPlaceHolder1_dvQuanLyTinDang .tabs > li.active {
            color: #50555a;
        }

            #ContentPlaceHolder1_dvQuanLyTinDang .tabs > li.active:before {
                transition-duration: .5s;
                background-color: white;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

#ContentPlaceHolder1_dvQuanLyTinDang .tab__content {
    background-color: white;
    position: relative;
    width: 100%;
    border-radius: 5px;
}

    #ContentPlaceHolder1_dvQuanLyTinDang .tab__content > li {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        list-style: none;
    }

        #ContentPlaceHolder1_dvQuanLyTinDang .tab__content > li .content__wrapper {
            text-align: center;
            border-radius: 5px;
            width: 100%;
            padding: 15px 10px 15px 10px;
            background-color: white;
            height:auto;
            overflow-x:auto;
            overflow-y:hidden;
            border: .5px solid #dcdcdc; 
        }

#ContentPlaceHolder1_dvQuanLyTinDang .content__wrapper h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 300;
}

#ContentPlaceHolder1_dvQuanLyTinDang .content__wrapper img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
