﻿
a:focus {
    outline: thin dotted;
}

a:active, a:hover {
    outline: 0;
}

b {
    font-weight: bold;
}

img {
    border: 0;
}

button {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button {
    line-height: normal;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
    cursor: pointer;
}

    button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    background-image: none;
}

a {
    color: #428bca;
    text-decoration: none;
}

    a:hover, a:focus {
        color: #2a6496;
        text-decoration: underline;
    }

    a:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

img {
    vertical-align: middle;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    padding-left: 0;
}

@media (min-width:576px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width:768px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width:992px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width:1200px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width:576px) {
    .container {
        width: 540px;
        max-width: 100%;
    }
}

@media (min-width:768px) {
    .container {
        width: 768px;
        max-width: 100%;
    }
}

@media (min-width:992px) {
    .container {
        width: 940px;
        max-width: 100%;
    }
}

@media (min-width:1200px) {
    .container {
        width: 941px;
        max-width: 100%;
    }
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

@media (min-width:576px) {
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (min-width:768px) {
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (min-width:992px) {
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (min-width:1200px) {
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}

.col-12, .col-md-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}

@media (min-width:576px) {
    .col-12, .col-md-6 {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width:768px) {
    .col-12, .col-md-6 {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width:992px) {
    .col-12, .col-md-6 {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width:1200px) {
    .col-12, .col-md-6 {
        padding-right: 0;
        padding-left: 0;
    }
}

.col-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width:768px) {
    .col-md-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

a {
    color: #33659c;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

button:focus {
    outline: 0;
}

.WrapperContainer {
    padding-top: 15px;
}

.PaperContainer {
    padding-bottom: 15px;
}

    .PaperContainer .PaperWrapper {
        padding: 15px;
    }

    .PaperContainer .TitleHeading {
        margin: 0;
        padding-bottom: 15px;
    }

       /*.PaperContainer .TitleHeading span {
            font-weight: 500;
            color: #999;
        }*/

.breadcrumWrapper {
    margin: -5px 0 10px 5px;
}

.contactInfo {
    text-align: center;
}

    .contactInfo .name {
        font-size: 18px;
        font-weight: 600;
    }

    .contactInfo .infoIcon {
        width: 35px;
    }

    .contactInfo .icon {
        position: relative;
    }

    .contactInfo .PaperInfoWrapper {
        text-align: left;
    }

        .contactInfo .PaperInfoWrapper .BasicInfo {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            padding: 15px;
            border-bottom: 1px solid #eee;
        }

@media screen and (min-width:768px) {
    .contactInfo .PaperInfoWrapper .BasicInfo {
        border-right: 1px solid #eee;
        border-bottom: none;
    }
}

.contactInfo .PaperInfoWrapper .BasicInfo .AvatarWrapper {
    padding-right: 5px;
}

.contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper {
    margin-left: 10px;
    width: 100%;
}

    .contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper .FollowRow {
        margin: 10px 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        font-size: 12px;
    }

        .contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper .FollowRow div {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }

        .contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper .FollowRow a {
            color: inherit;
        }

    .contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper .UltiRow {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

        .contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper .UltiRow .MainFunctionButton {
            cursor: pointer;
            text-align: center;
            line-height: 1.5;
            min-width: 125px;
            font-size: 14px;
            border-radius: 20px;
            outline: 0;
            padding: 4px 10px;
            min-height: 30px;
            margin-right: 10px;
            -webkit-transition: opacity 200ms ease-in-out;
            -o-transition: opacity 200ms ease-in-out;
            transition: opacity 200ms ease-in-out;
        }

            .contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper .UltiRow .MainFunctionButton.EditProfile {
                background-color: #fff;
                color: #000;
                border: 1px solid #d7d9dc;
            }

            .contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper .UltiRow .MainFunctionButton:hover {
                opacity: .7;
            }

.contactInfo .PaperInfoWrapper .ExtraInfo {
    padding: 15px;
    font-size: 13px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

    .contactInfo .PaperInfoWrapper .ExtraInfo .itemRow {
        height: 20px;
        margin: 5px 0;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        white-space: nowrap;
        color: #9b9b9b;
    }

        .contactInfo .PaperInfoWrapper .ExtraInfo .itemRow span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #282f39;
        }

        .contactInfo .PaperInfoWrapper .ExtraInfo .itemRow img {
            margin-right: 10px;
        }

        .contactInfo .PaperInfoWrapper .ExtraInfo .itemRow .ratingInfo {
            color: #282f39;
        }

.contactInfo .circleButton {
    border: 1px solid #d7d9dc;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
}

.main-content {
    padding-top: 45px;
    min-height: calc(100vh - 204px);
}

@media (min-width:768px) {
    .main-content {
        min-height: calc(100vh - 249px);
    }
}

.indexPage .readMoreText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 1px 0;
}

.indexPage .subject {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}

.indexPage .text {
    font-size: 14px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #000;
    line-height: 1.4;
    font-weight: 400;
}

.indexPage .subTitle {
    font-size: 12px;
    color: rgba(0,0,0,.541176);
}

@media all {
    .ion-android-more-horizontal:before, .ion-ios-arrow-right:before {
        display: inline-block;
        font-family: "Ionicons";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .ion-android-more-horizontal:before {
        content: "\f396";
    }

    .ion-ios-arrow-right:before {
        content: "\f3d3";
    }
}
/*! CSS Used from: Embedded */
.cIiMVT {
    display: block;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

@media (min-width: 768px) {
    .cIiMVT {
        display: block;
    }
}

.cIiMVT li:first-child::before {
    content: "";
    padding: 0px;
}

.jbltJC {
    display: inline-block;
}

    .jbltJC::before {
        content: "»";
        color: rgb(34, 74, 129);
        padding: 0px 5px;
    }

.eZQMkE {
    color: rgb(34, 74, 129);
    text-decoration: none;
    font-size: 12px;
}

    .eZQMkE:hover {
        text-decoration: underline;
    }

.llFQGq {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

    .llFQGq:hover {
        text-decoration: underline;
    }

    .llFQGq:hover {
        text-decoration: none;
    }

.kIKSvV {
    display: flex;
    flex-flow: wrap;
    -webkit-box-align: center;
    align-items: center;
}

@media (max-width: 979px) and (min-width: 768px) {
    .dGzVUk {
        padding-bottom: 17px;
        flex-flow: wrap;
    }
}

.dPyyiW {
    display: inline-block;
    margin: auto;
    height: 100px;
    width: 151px;
    float: left;
    position: relative;
    background-image: url(https://st.com.vn/storage/default_images/c2c_ad_image.jpg);
    background-size: 100%;
}

@media (max-width: 768px) {
    .dPyyiW {
        width: 122px;
        height: 80px;
    }
}

.gUVkqr {
    width: 100%;
    height: 100%;
    position: relative;
}

    .gUVkqr img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.eBUnVf {
    max-width: calc(100% - 15px);
    max-height: 34px;
    margin-bottom: 5px;
}

.eXhssu {
    font-size: 14px;
    line-height: 17px;
    margin: auto;
    padding: 0px;
    height: 100%;
    font-weight: normal;
    display: -webkit-box;
    margin-block-start: 0px;
    margin-block-end: 0px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
    .eXhssu {
        font-size: 12px;
        line-height: 15px;
    }
}

.fjxPoY {
    height: 20px;
    line-height: 20px;
}

.ksOCAJ span {
    color: rgb(208, 1, 27);
    font-weight: bold;
    font-size: 13px;
    max-width: calc(100% - 60px);
    display: inline-block;
}

@media (max-width: 768px) {
    .ksOCAJ span {
        font-size: 12px;
        line-height: 15px;
        height: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.hcqRnj {
    position: absolute;
    z-index: 0;
    bottom: 0px;
    left: 143px;
    height: 25px;
    width: calc(100% - 143px);
    font-size: 12px;
}

@media (max-width: 768px) {
    .hcqRnj {
        font-size: 10px;
        left: 116px;
        width: calc(100% - 116px);
    }
}

.jtnjqF {
    position: relative;
    width: 100%;
    height: 100%;
}

.lnWlnm {
    float: left;
    height: 25px;
    line-height: 25px;
    margin-right: 15px;
    position: relative;
}

@media (max-width: 768px) {
    .lnWlnm {
        margin-right: 10px;
    }
}

.lnWlnm::after {
    position: absolute;
    content: "";
    height: 15px;
    width: 1px;
    background: rgba(0, 0, 0, 0.2);
    bottom: 2px;
    right: -8px;
}

@media (max-width: 768px) {
    .lnWlnm::after {
        right: -4px;
    }
}
#content
{
    overflow:unset;
}

.gwqCaQ {
    width: 30px;
    height: 25px;
    position: relative;
    display: inline-block;
    background-size: auto 20px;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.iQeQii {
    float: left;
    opacity: 0.7;
    height: 25px;
    line-height: 25px;
    margin-right: 15px;
    position: relative;
}

@media (max-width: 768px) {
    .iQeQii {
        margin-right: 10px;
    }
}

.iQeQii::after {
    position: absolute;
    content: "";
    height: 15px;
    width: 1px;
    background: rgba(0, 0, 0, 0.2);
    bottom: 2px;
    right: -8px;
}

@media (max-width: 768px) {
    .iQeQii::after {
        right: -6px;
    }
}

.iQeQii span {
    position: relative;
    top: 4px;
    display: inline-block;
}

.bdlUrd {
    float: left;
    opacity: 0.7;
    height: 25px;
    line-height: 25px;
}

@media (max-width: 540px) {
    .bdlUrd {
        max-width: calc(100% - 135px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.bdlUrd span {
    position: relative;
    top: 4px;
    display: inline-block;
}

.iejxrf {
    max-width: 150px;
    position: relative;
    top: 4px;
    opacity: 0.7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}


.iVBwZP {
    display: block;
    margin: auto;
    height: 121px;
    border-bottom: 1px solid rgb(233, 235, 238);
    padding: 10px 0px;
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
    position: relative;
    overflow: hidden;
}

@media (max-width: 768px) {
    .iVBwZP {
        height: 101px;
    }
}

.iVBwZP li {
    list-style: none;
    position: relative;
}

    .iVBwZP li a {
        color: rgb(0, 0, 0);
        display: block;
    }

        .iVBwZP li a .ctAdItemContainer::after {
            clear: both;
            display: block;
            content: "";
        }

.iEksLa {
    float: left;
    width: 133px;
    height: 100px;
}

@media (max-width: 768px) {
    .iEksLa {
        width: 106px;
        height: 81px;
    }
}

.hlfpUQ {
    float: right;
    width: calc(100% - 143px);
    height: 100px;
    position: relative;
}

@media (max-width: 768px) {
    .hlfpUQ {
        width: calc(100% - 116px);
        height: 81px;
    }
}

.dHRRHy {
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
/*! CSS Used from: Embedded */
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}


select {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

select {
    text-transform: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.table-bordered > tbody > tr > td {
    border: 1px solid #eee;
}

.table > tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
}

@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: 0 0 !important;
        box-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

        a[href^="javascript:"]:after {
            content: "";
        }

    img, tr {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p {
        orphans: 3;
        widows: 3;
    }

    select {
        background: #fff !important;
    }

    .table td {
        background-color: #fff !important;
    }

    .table {
        border-collapse: collapse !important;
    }

    .table-bordered td {
        border: 1px solid #ddd !important;
    }
} 

img {
    vertical-align: middle;
}

p {
    margin: 0 0 10px;
}

.form-control {
    display: block;
    width: 100%; 
    padding: 8px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #777;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    color: #3b3b3b;
}

    .form-control:focus {
        border-color: #00b9f2;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,185,242,.6);
    }

    .form-control:-moz-placeholder {
        color: #999;
    }

    .form-control::-moz-placeholder {
        color: #999;
    }

    .form-control:-ms-input-placeholder {
        color: #999;
    }

    .form-control::-webkit-input-placeholder {
        color: #999;
    }

    .form-control[disabled] {
        cursor: not-allowed;
        background-color: #e6e6e6;
        opacity: 1;
    }

select.form-control {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

a:focus, a:hover { 
    text-decoration: none;
}
