﻿
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.table-bordered1 td {
    border: 1px solid #ddd !important;
}

.table-bordered2 td {
    border: 1px solid #ddd !important;
}

.dataTables_paginate.paging_simple_numbers {
    font-size: 10px;
}

.dataTables_info {
    font-size: 10px;
}

.dataTables_length {
    font-size: 10px;
}

.dataTables_filter {
    font-size: 10px;
}

.nav_pagi .pagination .page-link.page-db {
    width: auto;
    padding: 0 20px;
}

.nav_pagi .pagination .page-link:hover {
    background-color: #eee;
    border-color: #ebebeb;
}

.nav_pagi .pagination .page-item.disabled .page-link {
    border: 0;
    display: none;
}

.nav_pagi .pagination .page-item.active .page-link {
    border: solid 1px #ebebeb;
    color: #f53f2c;
    display: block;
    z-index: 0;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.7;
    color: black !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.relative {
    position: relative !important;
}

.f-left {
    float: left !important;
}

.w_100 {
    width: 100%;
}

.container-sliderTrang {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
}

.box-minmax {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: #888;
}

.range-slider {
    width: 100%;
    position: relative;
    padding-top: 35px;
}

.rs-range {
    margin-top: 10px;
    width: 100%;
    -webkit-appearance: none;
}

    .rs-range:focus {
        outline: none;
    }

    .rs-range::-webkit-slider-runnable-track {
        width: 100%;
        height: 28px;
        cursor: pointer;
        box-shadow: none;
        background: url('../../images/icons/colors.png') no-repeat no-repeat;
        background-size: contain;
        border-radius: 0px;
        border: 0px solid black;
    }

    .rs-range::-moz-range-track {
        width: 100%;
        height: 28px;
        cursor: pointer;
        box-shadow: none;
        background: url('../../images/icons/colors.png') no-repeat no-repeat;
        background-size: contain;
        border-radius: 0px;
        border: 0px solid black;
    }

    .rs-range::-webkit-slider-thumb {
        display: none;
    }

    .rs-range::-moz-focus-outer {
        border: 0;
    }

.rs-label {
    position: absolute;
    display: block;
    width: max-content;
    min-width: 105px;
    height: 30px;
    margin-left: -52px;
    border-radius: 5px;
    top: 0;
    text-align: center;
    padding-top: 5px;
    border: 1px solid #ccc;
    left: attr(value);
    color: black;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    cursor: pointer;
}

    .rs-label:hover .ArrowBullet {
        background-color: #ededed;
    }

    .rs-label:hover {
        background-color: #ededed;
    }

.ArrowBullet {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: white;
    border-bottom: 1px #cccccc solid;
    border-right: 1px #cccccc solid;
    bottom: -5.5px;
    left: 45%;
    transform: rotate(45deg);
}

.listItem {
   max-height: 100%;
    overflow-y: unset;
}
