﻿
@media screen, projection {
    a {
        background-color: transparent;
    }

        a:active, a:hover {
            outline: 0;
        }

    b {
        font-weight: 700;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    button, input {
        color: inherit;
        font: inherit;
        margin: 0;
    }

    button {
        overflow: visible;
    }

    button {
        text-transform: none;
    }

    button {
        -webkit-appearance: button;
        cursor: pointer;
    }

        button::-moz-focus-inner, input::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

    input {
        line-height: normal;
    }

    @media print {
        *, :after, :before {
            background: transparent !important;
            color: #000 !important;
            box-shadow: none !important;
            text-shadow: none !important;
        }

        a, a:visited {
            text-decoration: underline;
        }
    }

    *, :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    button, input {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    a {
        color: #fe9900;
        text-decoration: none;
    }

        a:focus, a:hover {
            color: #b26b00;
            text-decoration: underline;
        }

        a:focus {
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

        a:focus, a:hover {
            text-decoration: none;
        }
}
/*! CSS Used from: Embedded */
.fXPBpD {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    line-height: 4.2;
}

.hrSofa {
    position: relative;
    cursor: text;
    border: none;
    box-sizing: border-box;
    padding: 0 7px 0 35px;
    border: 1px solid #ccc;
	border-radius: 30px;
}
 

.daymOP {
    height: 1em;
    -webkit-appearance: textfield;
    width: calc(100% - 60px);
    height: 30px;
    border: 0;
    margin: 0;
    display: block;
    box-sizing: content-box;
    background: none;
    vertical-align: middle;
    outline: none;
}

.hNlrXu {
    top: 48px;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1001;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    max-height: 350px;
    overflow: auto;
}

@media (min-width:768px) {
    .hNlrXu {
        position: absolute;
    }
}

.lgfybG {
    cursor: pointer;
    padding: 7px 16px;
    position: relative;
    -webkit-transition: background-color 150ms cubic-bezier(0.4,0,0.2,1) 0ms;
    transition: background-color 150ms cubic-bezier(0.4,0,0.2,1) 0ms;
}

    .lgfybG:hover {
        background-color: rgb(232,232,232) !important;
    }

@media (min-width:768px) {
    .lgfybG {
        padding: 7px 16px;
    }
}

.gYQhrP {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 13px;
    right: 0px;
    cursor: pointer;
    outline: none;
    padding: 0;
    z-index: 1;
    width: 35px;
}

.gWoVfQ {
    font-size: 14px;
    margin: 0 auto;
    position: relative;
}

    .gWoVfQ input {
        font-size: 14px;
    }

.WjNjN {
    position: relative;
}

.llMVUc {
    cursor: pointer;
    color: #33659c;
    position: absolute;
    top: 0;
    right: 16px;
}

    .llMVUc:hover {
        color: #28507c;
    }

.gMcKUd {
    position: relative;
}

.kblwld {
    position: absolute;
    left: 0;
    top: 0;
}

.jNvNUK {
    margin-left: 25px;
}

@media screen, projection {
    a {
        background-color: transparent;
    }

        a:active, a:hover {
            outline: 0;
        }

    @media print {
        *, :after, :before {
            background: transparent !important;
            color: #000 !important;
            box-shadow: none !important;
            text-shadow: none !important;
        }

        a, a:visited {
            text-decoration: underline;
        }

            a[href]:after {
                content: " (" attr(href) ")";
            }
    }

    *, :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    a {
        color: #fe9900;
        text-decoration: none;
    }

        a:focus, a:hover {
            color: #b26b00;
            text-decoration: underline;
        }

        a:focus {
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

    ul {
        margin-top: 0;
        margin-bottom: 10px;
    }

    a:focus, a:hover {
        text-decoration: none;
    }
}
/*! CSS Used from: Embedded */
.sjho {
    text-align: center;
}

.bmmuID {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.jDyZht {
    display: inline;
}

    .jDyZht a {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: black !important;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }

        .jDyZht a.last {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .jDyZht a:hover {
            color: #014c8c;
            text-decoration: none;
            background-color: #eceeef;
            border-color: #ddd;
        }

        .jDyZht a.active {
            z-index: 0;
            color: #fff;
            background-color: #FFD100;
            border-color: #FFD100;
        }

@media screen, projection {
    a {
        background-color: transparent;
    }

        a:active, a:hover {
            outline: 0;
        }

    img {
        border: 0;
    }

    @media print {
        *, :after, :before {
            background: transparent !important;
            color: #000 !important;
            box-shadow: none !important;
            text-shadow: none !important;
        }

        a, a:visited {
            text-decoration: underline;
        }

            a[href]:after {
                content: " (" attr(href) ")";
            }

        img {
            page-break-inside: avoid;
        }

        img {
            max-width: 100% !important;
        }
    }

    *, :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    a {
        color: #fe9900;
        text-decoration: none;
    }

        a:focus, a:hover {
            color: #b26b00;
            text-decoration: underline;
        }

        a:focus {
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

    img {
        vertical-align: middle;
    }

    ul {
        margin-top: 0;
        margin-bottom: 10px;
    }

    a:focus, a:hover {
        text-decoration: none;
    }
}
/*! CSS Used from: Embedded */
.dUodeu {
    list-style-type: none;
    width: 80px;
    cursor: pointer;
}

.jDGBYk {
    background: #cacaca;
    -webkit-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
}

    .jDGBYk:hover {
        background: #fecc00;
    }

.kCQBIM {
    border: 1px solid #fff;
    font-family: Helvetica;
    font-size: 11px;
    color: #000000;
    text-align: center;
}

.jiPRqw {
    display: block;
}
/*! CSS Used from: Embedded */
.jNmBYP {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
}

.cVznjt {
    width: 70%;
    height: 66%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.UEYyu {
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: 14px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: initial;
    list-style: none;
}

    .UEYyu:hover {
        overflow-x: auto !important;
    }

    .UEYyu > div:not(:first-child) {
        margin-left: 20px;
    }
    
@media (max-width:414px) { 
    #modalDiaDiem {
        max-height: 360px;
        padding: 15px 10px;
    }

        #modalDiaDiem > #dvDSDiaDiem {
            max-height: 345px;
        }

    #modalDanhMuc {
        max-height: 360px;
        padding: 15px 10px;
    }

        #modalDanhMuc > #dvDSDanhMuc {
            max-height: 345px;
        } 
}

@media (max-width:375px) {  

    #modalDiaDiem {
        max-height: 340px;
        padding: 15px 10px;
    }

        #modalDiaDiem > #dvDSDiaDiem {
            max-height: 320px;
        }

    #modalDanhMuc {
        max-height: 340px;
        padding: 15px 10px;
    }

        #modalDanhMuc > #dvDSDanhMuc {
            max-height: 320px;
        } 
}

@media (max-width:320px) {
    .avtUser > .form-group > .imgUserEdit {
        height: 140px;
        width: 50%;
    }

    #modalDanhMuc {
        max-height: 310px;
        padding: 15px 10px;
    }

        #modalDanhMuc > #dvDSDanhMuc {
            max-height: 290px;
        }

    #modalDiaDiem {
        max-height: 310px;
        padding: 15px 10px;
    }

        #modalDiaDiem > #dvDSDiaDiem {
            max-height: 290px;
        }

    .avtShop {
        width: 40%;
    }
}
#dvDSDiaDiem > .table-bordered > thead > tr, #dvDSDanhMuc > .table-bordered > thead > tr, #dvBoLoc > .table-bordered > thead > tr {
    background-color: #00000012;
}

#dvDSDiaDiem > .table-bordered > tbody > tr > td, #dvDSDanhMuc > .table-bordered > tbody > tr > td, #dvBoLoc > .table-bordered > tbody > tr > td {
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

#dvDSDiaDiem > .table-bordered > tbody > tr:hover, #dvDSDanhMuc > .table-bordered > tbody > tr:hover, #dvBoLoc > .table-bordered > tbody > tr:hover {
    background-color: #0000000a;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #eee;
}
/*RADIO BUTTON*/
#modalBoLoc {
}

    #modalBoLoc > #dvBoLoc .radio {
        padding: 0.5rem;
        position: relative;
        border-left: 0.5px solid #ddd;
        border-right: 0.5px solid #ddd;
        border-bottom: 0.5px solid #ddd;
        border-top: 0.5px solid #ddd;
        cursor: pointer;
    }

        #modalBoLoc > #dvBoLoc .radio:hover {
            background-color: #0000000a;
        }

        #modalBoLoc > #dvBoLoc .radio i {
            width: 25px;
            height: 16px;
            text-align: center;
            font-size: 17px;
        }

        #modalBoLoc > #dvBoLoc .radio label {
            width: 100%;
            margin-bottom: 0;
        }

    #modalBoLoc > #dvBoLoc .DanhMucBoLoc label {
        cursor: pointer;
        font-weight: 400;
    }

    /*CHECKBOX BUTTON*/


    #modalBoLoc > #dvBoLoc .styled-input-single {
        position: relative;
        padding: 0.5rem;
        text-align: left;
    }

        #modalBoLoc > #dvBoLoc .styled-input-single label {
            cursor: pointer;
        }

            #modalBoLoc > #dvBoLoc .styled-input-single label:before, #modalBoLoc > #dvBoLoc .styled-input-single label:after {
                content: '';
                position: absolute;
                top: 50%;
                border-radius: 50%;
            }

            #modalBoLoc > #dvBoLoc .styled-input-single label:before {
                right: 5px;
                top: 15px;
                width: 1.4em;
                height: 1.4em;
                margin: -10px 0 0;
                background: #f7f7f7;
                box-shadow: 0 0 1px grey;
            }

            #modalBoLoc > #dvBoLoc .styled-input-single label:after {
                right: 5px;
                top: 15px;
                width: 1.1em;
                height: 1.1em;
                margin: -8px 2px 0px 0.5px;
                opacity: 0;
                background: #eaa149;
                -webkit-transform: translate3d(-40px, 0, 0) scale(0.5);
                transform: translate3d(-40px, 0, 0) scale(0.5);
                transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
                transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
                transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
            }

        #modalBoLoc > #dvBoLoc .styled-input-single input[type="radio"],
        #modalBoLoc > #dvBoLoc .styled-input-single input[type="checkbox"] {
            position: absolute;
            top: 0;
            left: -9999px;
            visibility: hidden;
        }

            #modalBoLoc > #dvBoLoc .styled-input-single input[type="radio"]:checked + label:after,
            #modalBoLoc > #dvBoLoc .styled-input-single input[type="checkbox"]:checked + label:after {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }

    #modalBoLoc > #dvBoLoc .styled-input--square label:before, #modalBoLoc > #dvBoLoc .styled-input--square label:after {
        border-radius: 0;
    }

    /*end CHECKBOX*/

    /*RANGE BUTTON*/
    #modalBoLoc > #dvBoLoc input[type=range] {
        box-sizing: border-box;
        font-size: 14px;
        line-height: 1;
        height: 30px;
        background-color: transparent;
        cursor: pointer;
        -webkit-appearance: none;
        width: 100%;
    }

        #modalBoLoc > #dvBoLoc input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
        }

        #modalBoLoc > #dvBoLoc input[type=range]:focus {
            outline: none;
        }

        #modalBoLoc > #dvBoLoc input[type=range]::-ms-track {
            width: 100%;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            color: transparent;
        }

        #modalBoLoc > #dvBoLoc input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 1em;
            height: 1.5em;
            margin-top: 0;
            background-color: #eaa149;
            border-radius: 1em;
            border: 2px solid rgba(255, 255, 255, 0.5);
            cursor: pointer;
        }

        #modalBoLoc > #dvBoLoc input[type=range]::-moz-range-thumb {
            width: 1em;
            height: 1.5em;
            margin-top: 0;
            background-color: #eaa149;
            border-radius: 1em;
            border: 2px solid rgba(255, 255, 255, 0.5);
            cursor: pointer;
        }

        #modalBoLoc > #dvBoLoc input[type=range]::-ms-thumb {
            width: 1em;
            height: 1.5em;
            margin-top: 0;
            background-color: #eaa149;
            border-radius: 1em;
            border: 2px solid rgba(255, 255, 255, 0.5);
            cursor: pointer;
        }

        #modalBoLoc > #dvBoLoc input[type=range]:hover::-webkit-slider-thumb {
            border-color: rgba(255, 255, 255, 0.7);
        }

        #modalBoLoc > #dvBoLoc input[type=range]:hover::-moz-range-thumb {
            border-color: rgba(255, 255, 255, 0.7);
        }

        #modalBoLoc > #dvBoLoc input[type=range]:hover::-ms-thumb {
            border-color: rgba(255, 255, 255, 0.7);
        }

        #modalBoLoc > #dvBoLoc input[type=range]:active::-webkit-slider-thumb {
            border-color: #ffffff;
        }

        #modalBoLoc > #dvBoLoc input[type=range]:active::-moz-range-thumb {
            border-color: #ffffff;
        }

        #modalBoLoc > #dvBoLoc input[type=range]:active::-ms-thumb {
            border-color: #ffffff;
        }

        #modalBoLoc > #dvBoLoc input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            cursor: pointer;
            height: 1em;
            border-bottom: 2px solid #eaa149;
            background-color: transparent;
        }

        #modalBoLoc > #dvBoLoc input[type=range]::-moz-range-track {
            width: 100%;
            cursor: pointer;
            height: 1em;
            border-bottom: 2px solid #eaa149;
            background-color: transparent;
        }

        #modalBoLoc > #dvBoLoc input[type=range]::-ms-track {
            background: transparent;
            border-color: transparent;
            color: transparent;
        }

/*END RANGE BUTTON*/