﻿
.TpF18isdCA9nMCxPS07MV:before {
    padding-bottom: 0%;
}

@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: 0 0 !important;
        box-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
        height:auto;
    }
}

*, :after, :before {
    box-sizing: border-box;
}

a {
    color: #686868;
    text-decoration: none;
}

    a:focus, a:hover {
        color: red;
        text-decoration: underline;
    }

    a:focus {
        outline: thin dotted #555;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

img {
    vertical-align: middle;width: 100%;
}

.title-TinDangLienQuan {
    width: 100%;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    font-size: 12px;
}

.cost-TinDangLienQuan {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    font-weight: 700;
}

.owl-item > .item {
    background-color: white;
  
    position: relative;
    padding: 5px;
}

a:focus, a:hover {
    color: red;
    text-decoration: none;
}

a {
    -webkit-transition: color .3s;
    transition: color .3s;
}

a {
    -webkit-transition: color .3s;
    transition: color .3s;
}

* {
    box-sizing: border-box;
	
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 130px;
    object-fit: initial;
}
