﻿<%@ Page Language="C#" MasterPageFile="~/Admin/Layout/AdminMasterPageNew.master" AutoEventWireup="true" CodeFile="DanhSachTitle.aspx.cs" Inherits="Admin_QuanTriSeo_DanhSachTitle" %>

<%--<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <script>
        function DeleteLink(id) {
            if (confirm("Bạn có muốn xóa không ?")) {
                //alert(idSlide);
                var xmlhttp;
                if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                    xmlhttp = new XMLHttpRequest();
                }
                else {// code for IE6, IE5
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                }
                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                        if (xmlhttp.responseText == "True")
                            window.location.reload();
                        else
                            alert("Không thể xóa link này !")
                    }
                }
                xmlhttp.open("GET", "../adAjax.aspx?Action=DeleteLink&id=" + id, true);
                xmlhttp.send();
            }
        }
    </script>
</asp:Content>--%>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form runat="server">
    <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
    <div class="title">QUẢN LÝ TIÊU ĐỀ </div>
    <div class="box">
        <div class="box-body">
            <div class="form-group">
                    <div class="row">
                        <div class="dvnull">&nbsp;</div>
                        <div class="coninput1 col-md-8">
                          <div class="titleinput"><b>Tìm kiếm:</b></div>
                          <div class="txtinput">
                              <input class="form-control" data-val="true" data-val-required="" id="txtSearch" runat="server" name="Content.ContentName" type="text" value="" />
                          </div>
                        </div>
                      </div>
                </div>
            <div class="row">
<%--                <div class="col-sm-9">
                    <a class="btn btn-primary btn-flat" href="DanhSach_CapNhat.aspx"><i class="glyphicon glyphicon-plus"></i> Thêm mới</a>
                </div>--%>
                <div class="col-sm-3">
                        <div style="text-align:right;">
                            <%--<asp:button id="bttimkiem" class="btn btn-primary btn-flat" runat="server" text="tìm kiếm" onclick="bttimkiem_click" />--%>
                        </div>
                    </div>
            </div>
            <div id="dvDanhMucCap1" runat="server">

            </div>
        </div>
    </div>
</section>


    <!-- /.content -->
  </div>
        </form>
</asp:Content>
