﻿<%@ Page Language="C#" MasterPageFile="~/Admin/Layout/AdminMasterPageNew.master" AutoEventWireup="true" CodeFile="DanhSachSeoDM.aspx.cs" Inherits="Admin_QuanTriSeo_DanhSachSeoDM" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
   
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form runat="server">
    <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
    <div class="title">QUẢN LÝ SEO DANH MỤC</div>
    <div class="box">
        <div class="box-body">
            <div id="dvTinDang" runat="server">

            </div>
        </div>
    </div>
</section>
        
  </div>
        </form>
</asp:Content>
