﻿<%@ Page Title="" Language="C#" MasterPageFile="../Layout/AdminMasterPageNew.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Home_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="content-wrapper"  style="background-image: url('../images/bg3.jpg');background-size: 100%;">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">

      <div>
		<div STYLE="text-align: center;
    color: white;
    font-size: 35px;
    font-weigth: bold;
    font-family: -webkit-body;
    padding-top: 50px;
    font-weight: bold; display:none">ADMIN WEBSITE BÁN HÀNG DIFOCO</div>
	  </div>

    </section>
    <!-- /.content -->
  </div>
</asp:Content>

