﻿.title {
text-align: center;
    color: #0084d2;
    font-size: 25px;
    font-weigth: bold;
    font-family: -webkit-body;
	padding-top: 13px;
}
.titlePouple{
    text-align:center; 
    font-weight:bold;
    font-size:24px; 
    padding:10px; 
    text-shadow:2px 2px 3px #264f7d;
}
.title1 {
	padding-left: 15px;
    font-size: 20px;
    font-family: -webkit-body;
	text-transform:uppercase;
}
.imgedit {
	    width: 15px;
    margin-top: -2px;
    margin-right: 3px;
}
.imgcategory {
	width: 18px;
    margin-top: -3px;
    margin-right: 3px;
	
}
.imgcategorymenu {
	width: 18px;
    margin-top: -4px;
    margin-right: 5px;
	
}
.th {
    background-color: #3C8DBC;
    color: white;
}
.coninput1 {
	float:left;
	width: 47.35%;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.coninput2 {
	float:left;
	width: 47.5%;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.titleinput {
	float:left;width:30%;padding-top: 5px;text-align: right;padding-right: 30px;
}
.dvnull {
	float:left;
	width: 4%;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.txtinput {
	float:left;width:70%;
}
.titlecongty {
text-transform: uppercase;font-weight: bold;
}

@media (max-width:991px) {
	.titlecongty {
		display:none;
	}
	.coninput1 {
		width: 100%;
	}
	.coninput2 {
		width: 100%;
	}
	.titleinput {
		width: 100%;
		padding-top: 0px;
		text-align: left;
		padding-left: 15px;
	}
	.dvnull {
		display:none;
	}
	.txtinput {
		width: 100%;
		padding: 5px 15px;
	}
}
@media (max-width:1280px) {
	/*.coninput1 {
		float:left;
		width: 100%;
	}
	.coninput2 {
		float:left;
		width: 100%;
	}
	.titleinput {
		float: left;
		width: 23%;
		padding-top: 10px;
		text-align: right;
		padding-left: 15px;
	}
	.dvnull {
		display:none;
	}
	.txtinput {
		width: 77%;
		padding: 5px 15px;
	}*/
}
.tot
{
	background-color:#1ac51a;
}
.canhbao
{
	background-color:#f9f921;	
}
.nguyhiem
{
	background-color:#f72525;
}
.noxau
{
	background-color:#3c3b3b;
}
.black_overlay{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
	display: none;
	position: fixed;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 5px solid #00a65a;
	background-color: white;
	z-index:1002;
	overflow: auto;
	border-radius:3px;
}
.circle {
			width: 100px;
			height: 100px;
			background: #C30;
			text-align: center;
			padding: 50px;
			color: #fff;
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			border-radius: 100px;
		}
.imgCommand
{
    width:20px; cursor:pointer;
}
.footertable
{
    text-align: center;
    background-color: white;
}
.notepaging {
    padding: 5px 12px;
    font-size: 13px;
    cursor: pointer;
    background-color: #FDFDFD;
    box-shadow: 0px 0px 0.7px 0px #737373;
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bold;
    height: 33px;
    margin: auto;
}
.notepaging:hover
{
    background-color: #3c8dbc;
    color:white;
}
.notepagingactive {
    padding: 5px 12px;
    font-size: 13px;
    cursor: pointer;
    background-color: #3c8dbc;
    box-shadow: 0px 0px 2px 0.1px #333;
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bold;
    height: 33px;
    margin: auto;
    color:white;
}
.notepaginnone
{
    display:none;
}
.nametdadmin{
    width:20%;
}
.nametdadmin12{
    width:10%;
}